

.blog{
    
    background-image: url(../../img/blogg.jpg);
    
    color: #dd6106;
    text-align: center;
    .navbar_brand{
        color:#dd6106 ;
    }
}
.footer-blog , .card-blog{
    background-color: #000;
    color: #fff;
    padding-bottom: 35px;
}

.blog-content-tittle {
color:#dd6106;
background: #000;
padding-bottom: 75px;
}
